<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="yumi_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="yumi_joint_1_l">
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['yumi_joint_1_l']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="yumi_joint_2_l">
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['yumi_joint_2_l']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="yumi_joint_7_l">
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['yumi_joint_7_l']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="yumi_joint_3_l">
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['yumi_joint_3_l']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="yumi_joint_4_l">
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['yumi_joint_4_l']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="yumi_joint_5_l">
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['yumi_joint_5_l']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="yumi_joint_6_l">
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['yumi_joint_6_l']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="yumi_joint_1_r">
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['yumi_joint_1_r']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="yumi_joint_2_r">
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['yumi_joint_2_r']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="yumi_joint_7_r">
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['yumi_joint_7_r']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="yumi_joint_3_r">
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['yumi_joint_3_r']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="yumi_joint_4_r">
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['yumi_joint_4_r']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="yumi_joint_5_r">
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['yumi_joint_5_r']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="yumi_joint_6_r">
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['yumi_joint_6_r']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="gripper_l_joint">
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['gripper_l_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="gripper_r_joint">
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['gripper_r_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
